body
{
    /*  background: url(../img/touming.png) repeat left top; background: transparent; background: #F4F9FC; 	*/
    background: transparent;
    padding: 0px;
    margin: 0px;
    color: #111111;
    width: 100%;
    height: 100%; 
    color: 12px;
    height:auto !important;
}
.top{
  height: 200px;
  text-align: center;
  background-color:#D2691E ;
 margin:0px 0px 10px 0px;
 }

 .main {
  position: relative;
 }
 .left{
  height:200px;
  text-align: left;
  position: absolute;
  z-index: 2;
  width: 200px;
  left: 0;
  top: 0;
  background-color: yellow;
 }
 .content{
  text-align: center;
  margin-left: 210px;
  background-color: #F4F9FC;
  overflow: auto;
 }
 .bottom {
  overflow: hidden;
  background-color:#DCDCDC ;

 }

/* 两列右侧自适应布局 */
.g-bd1{margin:0 0 10px;}
.g-sd1{position:relative;float:left;width:190px;margin-right:-190px; background: yellow}
.g-mn1{float:right;width:100%;background: red}
.g-mn1c{margin-left:200px;}